body{
    background-color: white;
    font-family: 'Itim', cursive;
}

.blogField{
    background-color: rgb(169, 147, 138);
    border-radius:10px;
    margin:50px;
    padding: 30px;
    color:beige;
}
.book{
    display: flex;
    
}