{% extends 'base.html' %}

{% block title %}About{% endblock title%}

{% block body%}
<div class="my-5">
    <center><h1 >Welcome to</h1></center>
<center><h1> The Second Hand Book Store !</h1></center>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Company Introduction</h5>
                    <p class="card-text">We're an online book store that specializes in providing customers with a wide selection of books, including e-books, audio books, and book-related accessories. Our mission is to offer an easy, enjoyable shopping experience for all book lovers, regardless of their interests or budget.</p>
                </div>
            </div>
            <div class="col-md-4">
              <img src="../media/images/a1.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
      </div>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../media/images/a2.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Company history</h5>
              <p class="card-text">Our team has a combined experience in the book industry, so we have the expertise to help you find the perfect book for any occasion. Whether you're looking for the latest bestseller or a timeless classic, we have something for everyone.</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Description of products and services</h5>
                    <p class="card-text">At The Second Hand Book Store, we're committed to providing exceptional customer service. If you have any questions or concerns, please don't hesitate to contact us. Our friendly customer service team is available to assist you via email or phone.</p>
                </div>
            </div>
            <div class="col-md-4">
              <img src="../media/images/a3.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
      </div>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../media/images/a4.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shipping and returns</h5>
              <p class="card-text">We understand that shipping times and costs are an important consideration when purchasing online, so we offer a variety of shipping options to meet your needs. We also offer hassle-free returns and exchanges for your convenience.</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Reviews and testimonials</h5>
                    <p class="card-text">Don't just take our word for it - check out our customer reviews to see what others have to say about their experiences with The Second Hand Book Store. We're proud of our high customer satisfaction rates and look forward to exceeding your expectations.</p>
                </div>
            </div>
            <div class="col-md-4">
              <img src="../media/images/a5.png" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
      </div>
</div>
<center><h3 class="my-5"> Thank you for choosing BookHouse . We hope to see you soon!</h3></center>
{% endblock body%}