{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock title%}

{% block body%}
<div class="alert alert-success alert-dismissible fade" role="alert" id="success">
    <strong>Success</strong>  Your form has been successfuly filled 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-danger alert-dismissible fade" role="alert" id="failure">
    <strong>Oop's</strong> Fill the credentials carefully
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container my-2">
    <h1>Contact Us</h1>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Your username">
        <small id="validationServer03Feedback" class="invalid-feedback">
            Your username must be 2-10 characters long and should not start with a number
        </small>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Your Email">
        <small id="emailvalid" class="invalid-feedback">
            Your email is not valid
        </small>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter Your phone number">
        <small id="phonevalid" class="invalid-feedback">
            Your number should be of 10 digits
        </small>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Your Feedback</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
    <button class="btn btn-primary btnsuccess my-5" id="submit">Submit</button>
</div>
<script src="{% static '/ecom/js/Form.js' %}"></script>
{% endblock body%}